.house-section {
    /* display: table;
    width: 100%; */
}

.col {
    /* margin: 5px; */
}

.unsorted {
    text-align: center;
}

.gryffindor {
    background-image: url(../images/gryffstripes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.hufflepuff {
    background-image: url(../images/huffstripes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.ravenclaw {
    background-image: url(../images/ravenstripes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.slytherin {
    background-image: url(../images/slystripes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.sorted-name-display {
    font-size: 24px;
    color: white;
}

.unsorted-name-display {
    font-size: 12px;
    color: black;
}

.btn-small {
    height: 20.4px;
    line-height: 19.4px;
    font-size: 12px;
    width: 102.4px;
}

.sly-btn {
    color: #aaaaaa;
    background-color: #1a472a;
}

.gryf-btn {
    color: #d3a625;
    background-color: #740001;
}

.rav-btn {
    color: #946b2d;
    background-color: #222f5b;
}

.huff-btn {
    color: #726255;
    background-color: #ecb939;
}